/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 50px;
}

.gallery {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery-item {
  flex: 1 1 calc((100% - 48px) / 3);
  box-sizing: border-box;
}

.gallery-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

/* FORM */

.feedback-form {
  width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2E2F42;
}

.feedback-form input, 
textarea {
  width: 360px;
  resize: none;
  padding-left: 10px;
  border-radius: 8px;
  border-color: #808080;
  border-width: 1px;
  transition: border-color 350ms ease-in;
}

.feedback-form input {
  height: 40px;
}

.feedback-form input:hover {
  border-color: black;
}

.feedback-form textarea {
  height: 80px;
  padding-top: 10px;
}

.feedback-form button {
  margin-top: 8px;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #4E75FF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms ease-in;
}

.feedback-form button:hover {
  background-color: #6C8CFF;
}